.navfont{
  color:rgb(237, 229, 229)
}
.square{
  height: 200px;
  width: 200px;
  margin-top: 100px;
  margin-left: 200px;
  background-color: rgb(79, 179, 215);
  text-align: center;
}
.square1{
  height: 300px;
  width: 300px;
  margin-top: -255px;
  margin-left: 600px;
  background-color: rgb(211, 114, 182);

}
.square2{
  height: 200px;
  width: 200px;
  margin-top: -250px;
  margin-left: 1100px;
  background-color: rgb(79, 179, 215);

}
.head{
  margin-top: 10px;
  text-align: center;
}
.line{
  border-top: 3.5px solid rgb(0, 0, 0);
  margin-top: -100px;
  margin-left:400px;
  margin-right:878px;
}
.line1{
  border-top: 3.5px solid rgb(0, 0, 0);
  margin-top: -20px;
  margin-left: 900px;
  margin-right: 378px;
}
.input{
  margin-left: 220px;
  margin-top: -30px;  
}
.desc{
  margin-left: 680px;
  margin-top: -100px
}
.desctext{
  margin-top: 15px;
  margin-left:-28px
}
.button{
  margin-left: 1168px;
  margin-top: -52px ;
  font-size: 16.5px;
}

.table{
  margin-left: 400px;
  margin-top: 50px
}

/* Columns here */
.c1{
  margin-left: -100px;
}
.c2{
  margin-left: 40px;
}
.c3{
  margin-left: 120px ;
}
.c4{
  margin-left: 120px;
}
.c5{
  margin-left: 50px;
}
.c6{
  margin-left: 50px;
}
.mine{
  margin-left: 670px;
  margin-top: 170px;
}
.minebutton{
  background-color: #080707ce; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 12px;
}
.minebutton:hover{
  background-color: #eef6eee7; 
  color: rgb(9, 4, 4);
}